#root {
}

@font-face {
  font-family: "Jaro";
  src: url("./LandingPage/assets/Jaro/Jaro-Regular-VariableFont_opsz.ttf")
    format("truetype");
  font-weight: 200; /*cant edit font-weight, only 400*/
  font-style: normal;
}
